<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vue.js 09 - Vue-Resource</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
  </head>
  <body>
    <div id="app">
      <h1>Personagens</h1>
      <div>
        <ul v-if="personagens.length > 0">
          <li v-for="personagem in personagens">
            {{ personagem.nome }} (Genero: {{ personagem.genero }})
          </li>
        </ul>
        <div v-else>
          Não foi encontrado nenhum personagem
        </div>
      </div>
    </div>

    <script type="text/javascript">
      var app = new Vue({
        el: '#app',
        data: {
          personagens: []
        },
        created () {
          let url = 'swapi/people.json'
          this.$http.get(url)
            .then(data => data.json())
            .then(data => {
              this.personagens = data.results.map(o => {
                return { nome: o.name, genero: o.gender == 'male' ? 'masculino' : 'feminino' }
              });
            })
            .catch(err => console.log('Err', err));
        }
      });
    </script>
  </body>
</html>
